#container {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}
#user {
  width: 30%;
  padding: 0px 10px;
}
#user img {
  display: block;
  margin: auto;
  width: 100%;
}
#user a {
  display: block;
  text-align: center;
}
